:root {
    --bgcolor: #011212;
    --ballwidth: 100px;
    --ballheight: 100px;
    --ballborderradius: 50px;
    --ballbgcolor: #ff8800;
}

body {
    background-color: var(--bgcolor)
}

.ball {
    width: var(--ballwidth);
    height: var(--ballheight);
    background-color: var(--ballbgcolor);
    border-radius: var(--ballborderradius);
}
