body {
  display: flex;
  flex-direction: row;
  width: 60em;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: row;
  padding: 2em;
  margin: 1em;
}

#green {
  background-color: #8ffda7;
}

#orange {
  background-color: #ffc788;
}

#yellow {
  background-color: #ffff92;
  display: inline;

  
}

#red {
  background-color: #ff919c;
  display: inline;
}

#blue {
  background-color: #98d2ff;
}

ul {
  padding: 0;
}

li {
  background-color: white;
  padding: 1em;
  margin: 1em;
  display: flex;
  justify-content: center;
}
section:nth-of-type(1) { order: 3; flex-grow: 1;}
section:nth-of-type(2) { order: 1; flex-grow: 1;}
section:nth-of-type(3) { order: 4; flex-grow: 6;}
section:nth-of-type(4) { order: 2; flex-grow: 1;}
section:nth-of-type(5) { order: 5; flex-grow: 1;}