body {
    display: flex;
    align-items: center;
    justify-content: center;
}
div {
       &.form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
       }
        
    }
