body {
    width: 60em;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto ;

}


section {
  padding: 2em;
  margin: 1em;
}

#green {
  background-color: #8ffda7;
  grid-column: span 3;
}

#orange {
  background-color: #ffc788;
  grid-column: span 2;
}

#yellow {
  background-color: #ffff92;
}

#red {
  background-color: #ff919c;
  grid-row: 2;
  grid-column: 2;
}

#blue {
  background-color: #98d2ff;
  grid-row: 2/ span 2;
  grid-column: 3;
}

ul {
  display: grid;
  padding: 0;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
}
