.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    flex-wrap: wrap;
}

.card {
    height: 600px;
    width: 300px;
    border-color: rgb(113, 113, 113);
    border-radius: 1px;
    border: 0.5px;
    border-style: solid;
    overflow: hidden;
    margin-top: 10px;
    }
    .img {
        width: 300px;   
        margin-bottom: -5px;
    }
    .card-body {
        padding: 20px;
        border-color: rgb(113, 113, 113);
        border-bottom: 0.5px;
        margin: auto;
        border-style: solid;
    
    }
    li {
        padding: 20px;
        border-color: rgb(113, 113, 113);
        border-bottom: 0.5px;
        margin: auto;
        border-style: solid;
        list-style: none;
        justify-self: start;
    }
    
    ul {
        margin: auto;
        text-align: left;
        padding: 0px;
        
    }
    .card-end {
        padding: 15px 90px 4px 20px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        border-color: rgb(113, 113, 113);
        border-bottom: 0.5px;
        border-style: solid;
    
    
    }
    @media screen and (max-width: 768px) {
        
        body {
          flex-direction: column;
        }
      }
    
      @media screen and (max-width: 480px) {
        
        .flex-container {
          flex-direction: column; 
        }
        .card {
          flex-basis: 100%; 
          margin: 10px; 
      }
    }
    
    
    
    
    
    